//
//  Secrets.xcconfig
//  TMDbApp
//
//  Created by Charan Ganesh on 02/11/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = api.themoviedb.org/3
IMAGE_BASE_URL = image.tmdb.org/t/p
TMDB_API_KEY = 213b6babae2e0a4efd3712b3d21ceb9f
ENVIRONMENT = production
